<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}" class="itemList">
<head>
    <!-- 리스트 css파일을 따로 생성했습니다
     스스타일 태그안에 넣고 적용후 옮긴거라 모바일 버전도 그렇게 하시면 될것같아요 -->
    <link th:href="@{/css/list.css}" rel="stylesheet">
</head>

<div layout:fragment="content">
    <!-- 검색 -->
    <div class="search-container">
        <div class="search-wrapper">
            <!-- 데스크탑 검색 -->
            <div class="desktop-search">
                <form class="form-inline my-2 my-lg-0" action="/list" method="get" id="cateSearch">
                    <div class="search-set-item">
                        <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search"
                               aria-label="Search" id="search2" th:value="${itemSearchDto.searchQuery}">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </div>
                </form>
                <i class="fa-solid fa-magnifying-glass" id="searchIcon"></i>
            </div>

        </div>
        <div class="order-container">
            <!-- 사이드바 토글 버튼 (모바일에서만 표시) -->
            <button id="toggleSidebarBtn" class="sidebar-toggle-btn">장르선택</button>
            <span th:text="${company}" id="getCompany" style="display:none;"></span>
            <select class="form-control orderBy">
                <option value="latest" th:selected="${itemSearchDto.orderBy == 'latest'}">발매일순</option>
                <option value="sales" th:selected="${itemSearchDto.orderBy == 'sales'}">판매량순</option>
                <option value="price_high" th:selected="${itemSearchDto.orderBy == 'price_high'}">가격높은순</option>
                <option value="price_low" th:selected="${itemSearchDto.orderBy == 'price_low'}">가격낮은순</option>
            </select>
        </div>
    </div>

    <div id="list-content">
        <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
        <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
            <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'" id="resultText"></p>
        </div>

        <div class="row" id="lists">
            <th:block th:if="${items.getContent().size() > 0}">
                <th:block th:each="item, status: ${items.getContent()}">
                    <div class="col-md-4 margin">
                        <div class="card" style="position: relative;">
                            <a th:href="'/item/' +${item.id}" class="text-dark">
                                <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}"
                                     th:classappend="${item.stockNumber <= 0} ? 'sold-out-filter'" height="400">
                                <span th:if="${item.stockNumber <= 0}" class="sold-out-badge">Sold Out</span>
                                <span th:if="${dibsList.contains(item.id)}"
                                    style="position: absolute; top: 5px; right: 10px; font-size: 24px;">❤</span>
                                <div class="card-body">
                                    <span class="openDate">발매  [[${item.openDate}]]</span>
                                    <h4 class="card-title itemTitle" th:text="${#strings.length(item.itemNm) > 30 ? item.itemNm.substring(0, 30) + '...' : item.itemNm}" th:classappend="${#strings.length(item.itemNm) > 32 ? 'truncate' : ''}">[[${item.itemNm}]]</h4>
                                    <strong class="card-title text-danger"><span th:text="${#numbers.formatInteger(item.price, 1,'COMMA')}"></span>원</strong>                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>
            </th:block>
            <th:block th:if="${items.getContent().size() == 0}">
                <div class="col-md-12 text-center">
                    <h4>결과 없음</h4>
                </div>
            </th:block>
        </div>
        <div id="loadMore" class="center" style="display:none;"><i class="fas fa-chevron-down"></i></div>
    </div>

    <div id="absolute">
        <div id="tagSelect">
            <h4>게임 장르</h4>
            <label>
                <input type="checkbox" name="action" th:checked="${tag.action}"> 액션
            </label>
            <label>
                <input type="checkbox" name="adventure" th:checked="${tag.adventure}"> 모험
            </label>
            <label>
                <input type="checkbox" name="rpg" th:checked="${tag.rpg}"> RPG
            </label>
            <label>
                <input type="checkbox" name="shooter" th:checked="${tag.shooter}"> 슈팅
            </label>
            <label>
                <input type="checkbox" name="strategy" th:checked="${tag.strategy}"> 전략
            </label>
            <label>
                <input type="checkbox" name="simulation" th:checked="${tag.simulation}"> 시뮬레이션
            </label>
            <label>
                <input type="checkbox" name="puzzle" th:checked="${tag.puzzle}"> 퍼즐
            </label>
            <label>
                <input type="checkbox" name="sports" th:checked="${tag.sports}"> 스포츠
            </label>
            <label>
                <input type="checkbox" name="racing" th:checked="${tag.racing}"> 레이싱
            </label>
            <label>
                <input type="checkbox" name="fighting" th:checked="${tag.fighting}"> 격투
            </label>
            <label>
                <input type="checkbox" name="survival" th:checked="${tag.survival}"> 생존
            </label>
            <label>
                <input type="checkbox" name="rhythm" th:checked="${tag.rhythm}"> 리듬게임
            </label>
            <label>
                <input type="checkbox" name="sandbox" th:checked="${tag.sandbox}"> 샌드박스
            </label>
            <label>
                <input type="checkbox" name="battleRoyale" th:checked="${tag.battleRoyale}"> 대전
            </label>
            <label>
                <input type="checkbox" name="card" th:checked="${tag.card}"> 카드
            </label>
            <label>
                <input type="checkbox" name="boardGame" th:checked="${tag.boardGame}"> 보드게임
            </label>
            <label>
                <input type="checkbox" name="horror" th:checked="${tag.horror}"> 공포
            </label>
            <label>
                <input type="checkbox" name="platformer" th:checked="${tag.platformer}"> 플랫포머
            </label>
            <label>
                <input type="checkbox" name="moba" th:checked="${tag.moba}"> MOBA
            </label>
            <label>
                <input type="checkbox" name="mmorpg" th:checked="${tag.mmorpg}"> MMORPG
            </label>
            <button type="button" id="searchTagBtn">장르 검색</button>
            <button type="button" id="checkResetBtn">선택 취소</button>
        </div>
    </div>
    <!--Side bar. end-->

    <script inline="javascript">

        function appendPage(response){
            const items = response.items.content; // items 목록
            const dibsList=response.dibsList;
            var str="";

            if (Array.isArray(items) && items.length > 0) {
                items.forEach(function(item) {
                    str += '<div class="col-md-4 margin">';
                    str += '  <div class="card" style="position:relative;">';
                    str += '        <a href="/item/' + item.id + '" class="text-dark">';
                    // 품절 상태일 때만 sold-out-filter 클래스를 추가
                    var imageClass = item.stockNumber <= 0 ? 'sold-out-filter' : '';
                    str += ' <img src="' + item.imgUrl + '" class="card-img-top ' + imageClass + '" alt="' + item.itemNm + '" height="400">';
                    // 품절 상태일 때 품절 배지 추가
                    if (item.stockNumber <= 0) {
                    str += ' <span class="sold-out-badge">Sold Out</span>';
                    }
                    if (dibsList.includes(item.id)) {
                    str += '      <span style="position: absolute; top: 10px; right: 10px; font-size: 24px;">❤</span>';
                    }
                    str += '            <div class="card-body openDate"> 발매 : '+item.openDate;
                    str += '                <h4 class="card-title itemTitle">' + 
                    (item.itemNm.length > 30 ? item.itemNm.substring(0, 30) + '...' : item.itemNm) + 
                    '</h4>';                
                    str += '<strong class="card-title text-danger">' + 
                        new Intl.NumberFormat().format(item.price) + '원</strong>';
                    str += '            </div></a></div></div>';
                });

                $("#lists").append(str);
            }

        }

        $(document).ready(function(){
            var currentPage = 0;

            var max=[[${maxPage}]];

            if(max>1){
                $("#loadMore").show();
            }

            $("#cateSearch").on('submit', function(event) {
                event.preventDefault();
                $(".appendForm").remove();

                const searchQuery = $("#search2").val();

                var newUrl = '/'+$("#getCompany").text();
                if($("#getCompany").text()=="all"){
                    newUrl='/list';
                }

                const form = $('<form>', {
                    class: 'appendForm',
                    method: 'GET',
                    action: newUrl
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'searchQuery',
                    value: searchQuery
                }));

                $("input[type='checkbox']:checked").each(function() {
                    var checkboxName = $(this).attr('name');
                    var checked = $(this).is(':checked');
                    form.append($('<input>', {
                        type: 'hidden',
                        name: checkboxName,
                        value: checked
                    }));
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'orderBy',
                    value: $(".orderBy").val()
                }));

                $('body').append(form);
                form.submit();
            });

            $(".company").on('click',function(e){
                e.preventDefault();
                var company = $(this).data('company');
                var searchQuery = $("#search2").val();

                // Total을 reset???
                if(company=="list"){
                    location.href="/list";
                    return;
                }

                var form = $('<form>', {
                    class: 'appendForm',
                    method: 'get',
                    action: '/'+company
                });

                 form.append($('<input>', {
                    type: 'hidden',
                    name: 'searchQuery',
                    value: searchQuery
                }));

                $("input[type='checkbox']:checked").each(function() {
                    var checkboxName = $(this).attr('name');
                    var checked = $(this).is(':checked');
                    form.append($('<input>', {
                        type: 'hidden',
                        name: checkboxName,
                        value: checked
                    }));
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'orderBy',
                    value: $(".orderBy").val()
                }));

                $('body').append(form);
                form.submit();

            });

            $("#loadMore").on('click',function(){
                const searchQuery = $("#search2").val();

                var cate=$("#getCompany").text();
                const newUrl = "/"+cate+"More";
                currentPage++;
                var itemCategoryDto = {};

                $("input[type='checkbox']:checked").each(function() {
                    var checkboxName = $(this).attr('name');
                    var checked = $(this).is(':checked');
                    itemCategoryDto[checkboxName]=checked;
                });

                $.ajax({
                    url: newUrl,
                    type: 'GET',
                    data:{searchQuery:searchQuery, nthPage:currentPage, orderBy:$(".orderBy").val(), ...itemCategoryDto},
                    success: function(response) {
                        appendPage(response);
                        var maxPage = parseInt(response.maxPage);
                        if(currentPage>=parseInt(maxPage-1)){
                            $("#loadMore").hide();
                        } else{
                            $("#loadMore").show();
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX Error:", error);
                    }
                });

            });

            $("input[type='checkbox']").change(function(){
                const checkCount = $("input[type='checkbox']:checked").length;
                if (checkCount > 4) {
                  $(this).prop('checked', false);
                  alert("장르는 4개까지 선택이 가능합니다");
                }
            });

            $("#searchTagBtn").on('click', function() {

                $(".appendForm").remove();
                var cate=$("#getCompany").text();
                var searchQuery = $("#search2").val();

                if(cate=="all"){
                    cate="list";
                }

                var form = $('<form>', {
                    class: 'appendForm',
                    method: 'get',
                    action: '/'+cate
                });

                 form.append($('<input>', {
                    type: 'hidden',
                    name: 'searchQuery',
                    value: searchQuery
                }));

                $("input[type='checkbox']:checked").each(function() {
                    var checkboxName = $(this).attr('name');
                    var checked = $(this).is(':checked');
                    form.append($('<input>', {
                        type: 'hidden',
                        name: checkboxName,
                        value: checked
                    }));
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'orderBy',
                    value: $(".orderBy").val()
                }));

                $('body').append(form);
                form.submit();
            });


            $("#checkResetBtn").on('click',function(){
                var cate=$("#getCompany").text();
                if(cate=="all"){
                    cate="list";
                }
                location.href="/"+cate;
            });

            $(".orderBy").on('change',function(){
                $(".appendForm").remove();

                const searchQuery = $("#search2").val();

                var newUrl = '/'+$("#getCompany").text();
                if($("#getCompany").text()=="all"){
                    newUrl='/list';
                }

                const form = $('<form>', {
                    class: 'appendForm',
                    method: 'GET',
                    action: newUrl
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'searchQuery',
                    value: searchQuery
                }));

                $("input[type='checkbox']:checked").each(function() {
                    var checkboxName = $(this).attr('name');
                    var checked = $(this).is(':checked');
                    form.append($('<input>', {
                        type: 'hidden',
                        name: checkboxName,
                        value: checked
                    }));
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'orderBy',
                    value: $(".orderBy").val()
                }));

                $('body').append(form);
                form.submit();
            })
              //검색버튼 토글
            $("#searchIcon").click(function() {
                $("#cateSearch").fadeToggle();
            });
        })

        // 사이드바 토글 기능
        document.getElementById('toggleSidebarBtn').addEventListener('click', function() {
            var sidebar = document.getElementById('absolute');
            if (sidebar.style.display === 'none' || sidebar.style.display === '') {
                sidebar.style.display = 'block';
            } else {
                sidebar.style.display = 'none';
            }
        });

    </script>


</div>

</html>
