<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}" class="orderHist">

<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <link th:href="@{/css/shop.css}" rel="stylesheet">
</head>


<div layout:fragment="content" class="content-mg">

    <div class="d-flex justify-content-between">
        <h2 class="mb-4 w-50">
            주문 내역
        </h2>
        <select id="histDuration" name="date" class="w-25 form-control">
            <option th:value="1" th:selected="${date==1}">이번달</option>
            <option th:value="3" th:selected="${date==3}">3개월</option>
            <option th:value="6" th:selected="${date==6}">6개월</option>
            <option th:value="12" th:selected="${date==12}">1년</option>
            <option th:value="36" th:selected="${date==36}">3년</option>
        </select>
    </div>

    <th:block th:if="${orders.getContent().size()==0}">
        <div>
            주문 내역이 없습니다
        </div>
    </th:block>

    <th:block th:unless="${orders.getContent().size()==0}">
        <div th:each="order : ${orders.getContent()}">
            <h4 th:text="${order.orderDate}"></h4>
            <div class="card d-flex p-3">
                <h6 class="mt-0 align-self-end">주문번호: <span th:text="${order.orderId}"></span></h6>
                <div th:each="orderItem : ${order.orderItemDtoList}" class="d-flex mb-3">
                    <div class="repImgDiv">
                        <a th:href="'/item/' +${orderItem.itemId}" class="text-dark">
                            <img th:src="${orderItem.imgUrl}" class="rounded repImg" th:alt="${orderItem.itemNm}">
                        </a>
                    </div>
                    <div class="align-self-center w-75">
                        <a th:href="'/item/' +${orderItem.itemId}" class="text-dark">
                            <span class="highlightName" th:text="${orderItem.itemNm}"></span>
                        </a>
                        <div class="fs18 font-weight-light">
                            <strong class="highlightPrice"><span th:text="${#numbers.formatInteger(orderItem.orderPrice, 1,'COMMA')}"></span></strong>원 /
                            <span th:text="${orderItem.count} +'개'"></span><br>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between ml-3">
                    <div>
                        <th:block th:if="${order.orderStatus == T(com.playground.constant.OrderStatus).ORDER}">
                            <span>사용 포인트: [[${-order.pointDto.usedPoint}]] pt</span><br>
                            <th:block th:if="${order.sendCode==true}">
                                <span style="color:blue;">적립 포인트: <span th:unless="${order.pointDto.stackPoint==0}">+</span>[[${order.pointDto.stackPoint}]] pt</span>
                            </th:block>
                            <th:block th:unless="${order.sendCode==true}">
                                <span style="color:blue;">적립예정 포인트: <span th:unless="${order.pointDto.stackPoint==0}">+</span>[[${order.pointDto.stackPoint}]] pt</span>
                            </th:block>
                        </th:block>
                        <th:block th:unless="${order.orderStatus == T(com.playground.constant.OrderStatus).ORDER}">
                            <span style="color:red;">환불 포인트: [[${order.pointDto.usedPoint}]] pt</span>
                        </th:block>
                    </div>

                    <div class="d-flex">
                        <div class="ml-3">
                            <th:block th:if="${order.sendCode==true}">
                                <h6 style="text-align:right;">총 주문금액: <span class="highlightPrice" th:text="${#numbers.formatInteger(order.totalPrice - T(java.lang.Math).abs(order.pointDto.usedPoint), 1,'COMMA')}"></span>원</h6>
                                <h5 class="orderComplete">코드 발송 완료</h5>
                            </th:block>
                            <th:block th:unless="${order.sendCode==true}">
                                <th:block th:if="${order.orderStatus == T(com.playground.constant.OrderStatus).ORDER}">
                                    <button type="button" class="btn btn-outline-info p-2" th:value="${order.orderId}"
                                            onclick="sendCode(this.value)">코드발송</button>
                                    <button type="button" class="btn btn-outline-warning p-2" th:value="${order.orderId}"
                                            onclick="cancelOrder(this.value)">주문취소</button>
                                </th:block>
                                <th:block th:unless="${order.orderStatus == T(com.playground.constant.OrderStatus).ORDER}">
                                    <h6 style="text-align:right;">환불 금액: <span class="highlightPrice" th:text="${#numbers.formatInteger(order.totalPrice - T(java.lang.Math).abs(order.pointDto.usedPoint), 1,'COMMA')}"></span>원</h6>
                                    <h5 class="orderComplete" style="color:#E43B3B;">취소 완료</h5>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div th:with="start=${(orders.number/maxPage)*maxPage + 1}, end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${orders.number eq 0}?'disabled':''">
                    <a th:href="@{'/orders/' + ${orders.number-1}}" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${orders.number eq page-1}?'active':''">
                    <a th:href="@{'/orders/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${orders.number+1 ge orders.totalPages}?'disabled':''">
                    <a th:href="@{'/orders/' + ${orders.number+1}}" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>

            </ul>
        </div>
    </th:block>

    <!-- 모달 -->
    <div class="modal fade" id="loadingIndicator" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">⏳ 메일 발송 중..</h5>
                </div>
                <div class="modal-body">
                    처리중 입니다. 잠시만 기다려 주세요. 🙏
                </div>
            </div>
        </div>
    </div>

</div>
<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

    <script th:inline="javascript">
        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId: orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("주문이 취소 되었습니다.");
                    location.href = '/orders/' + [[${ page }]];
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert('통신오류가 발생했습니다. 잠시 후 다시시도해주세요');
                    }
                }
            });
        }

        function sendCode(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: "/order/sendCode",
                type: "POST",
                data: {orderId: orderId},
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                    $("#loadingIndicator").modal('show');
                },
                dataType: "text",
                cache: false,
                success: function (result, status) {
                    $("#loadingIndicator").modal('hide');
                    if(result=="success"){
                        alert("이메일로 코드가 발송되었습니다.");
                        location.href = '/orders/' + [[${ page }]];
                    } else {
                        alert("코드 발송중 오류가 발생했습니다. 다시 시도해주세요.");
                    }
                },
                error: function (jqXHR, status, error) {
                    $("#loadingIndicator").modal('hide');
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert('통신오류가 발생했습니다. 잠시 후 다시시도해주세요');
                    }
                }
            });
        }

        $(document).ready(function(){
            $('#histDuration').on('change',function() {
                $(".appendForm").remove();

                var form = $('<form>', {
                    class: 'appendForm',
                    method: 'GET',
                    action: '/orders'
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'date',
                    value: $('#histDuration').val()
                }));

                $('body').append(form);
                form.submit();
            });

            $('.page-item').on('click','a',function(e){
                e.preventDefault();
                $(".appendForm").remove();

                var form = $('<form>', {
                    class: 'appendForm',
                    method: 'GET',
                    action: $(this).attr('href')
                });

                form.append($('<input>', {
                    type: 'hidden',
                    name: 'date',
                    value: $('#histDuration').val()
                }));

                $('body').append(form);
                form.submit();
            });
        });
    </script>

</th:block>

</html>