<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}" class="findPw">

<head>
    <link th:href="@{/css/member.css}" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
    <div class="findPwDiv">
        <h3 style="text-align:center;"><img th:src="@{/img/logo_w.png}" alt="playground" ></h3>
        <p class="mx-3 info">찾으시려는 아이디와, 해당 아이디에 등록한 이름과 전화번호를 입력해주세요.</p>
        <form action="/members/findPw" method="post" id="submitForm" class="form-group w-100">
            <div class="form-group mx-3">
                <label for="email">이메일</label>
                <input id="email" name="email" class="form-control" placeholder="이메일을 입력해주세요" required>
            </div>
            <div class="form-group mx-3">
                <label for="name">이름</label>
                <input id="name" name="name" class="form-control" placeholder="이름을 입력해 주세요" required>
            </div>
            <div class="form-group mx-3">
                <label for="phone">전화번호</label>
                <input id="phone" name="phone" class="form-control" placeholder="전화번호를 입력해 주세요" required>
            </div>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="findPwBtnDiv mx-3 mb-2">
                <button class="btn btn-success find w-100">찾기</button>
            </div>
        </form>
        <div class="another_btns my-3">
            <button type="button" class="btn btn-primary mx-2" onClick="location.href='/members/login'">로그인</button>
            <button type="button" class="btn btn-info mx-2" onClick="location.href='/members/new'">회원가입</button>
        <div>

    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            var notValid=[[${notValid}]];
            if(notValid!=null||notValid==""){
                alert("유효기간이 만료되었습니다");
            }

            $(".find").on('click', function (e) {
                e.preventDefault();

                var name = $("#name").val();
                var phone = $("#phone").val();
                var email = $("#email").val();

                const nameRegex = /^[가-힣]{2,}$/;
                const phoneRegex = /^(\d{2,3})-(\d{3,4})-(\d{4})$/;
                const emailRegex = /^[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$/;

                $("#errorMessages").empty();

                if (!name) {
                    alert("이름을 입력해 주세요");
                    return;
                }
                if (!phone) {
                    alert("전화번호를 입력해 주세요");
                    return;
                }
                if (!email) {
                    alert("이메일을 입력해 주세요");
                    return;
                }
                if (!nameRegex.test(name)) {
                    alert("이름을 정확히 입력해주세요. ex)홍길동");
                    return;
                }
                if (!phoneRegex.test(phone)) {
                    alert("전화번호를 형식에 맞게 입력해주세요. ex)000-0000-0000 또는 숫자 9~11자리");
                    return;
                }
                if (!emailRegex.test(email)) {
                    alert("이메일을 형식에 맞게 입력해주세요. ex)hkd123@naver.com");
                    return;
                }
                $.ajax({
                    url: "/members/findPw",
                    method: "post",
                    data:{name:name, phone:phone, email:email},
                    dataType:"Text",
                    beforeSend : function(xhr){
                        xhr.setRequestHeader(header, token);
                    },success(result){
                        if(result=='valid'){
                            alert("메일을 확인 해 주세요");
                        }else if(result=='notValid'){
                            alert("일치하는 정보가 없습니다");
                        }else if(result=='noEmail'){
                            alert("가입된 정보가 없습니다");
                        }else{
                            alert("비밀번호 찾기는 "+result+" 후에 가능합니다");
                        }
                    },error(){
                        alert("잠시 후 다시시도해주세요.");
                    }
                })
            });

            $("#phone").on('blur', function() {
                var phone = $(this).val().replace(/[^0-9]/g, ''); // 숫자만 추출

                if (phone.length === 9) {
                    phone = phone.replace(/(\d{2})(\d{3})(\d{4})/, '$1-$2-$3');
                } else if (phone.length === 10) {
                    phone = phone.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
                } else if (phone.length === 11) {
                    phone = phone.replace(/(\d{3})(\d{4})(\d{4})/, '$1-$2-$3');
                }

                $(this).val(phone);
            });
        });
    </script>

</div>


</html>