<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout1}" class="memberLoginForm">

<head>
  <link th:href="@{/css/member.css}" rel="stylesheet">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<div layout:fragment="content">
  <h3 class="mt-5" style="text-align:center;"><img th:src="@{/img/logo_w.png}" alt="playground" ></h3>
  <div class="loginInput mt-3">
    <form role="form" method="post" action="/members/login" class="col-md-6 loginForm">
      <div class="form-group mx-3">
        <label th:for="email">이메일주소</label>
        <input type="email" name="email" class="form-control" placeholder="이메일을 입력해주세요">
      </div>
      <div class="form-group mx-3 mb-3">
        <label th:for="password">비밀번호</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="비밀번호 입력">
      </div>
      <p th:if="${loginErrorMsg}" class="error mx-3" style="color:red;" th:text="${loginErrorMsg}"></p>
      <div class="login_btns mb-3">
        <button class="btn btn-primary loginBtn">로그인</button>
      </div>
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>
    <div class="social_btns">
      <a href="/oauth2/authorization/google" class="my-1"><img th:src="@{/icon/google.svg}"></a>
      <a href="/oauth2/authorization/naver" class="my-1"><img th:src="@{/icon/naver.png}"></a>
      <a href="/oauth2/authorization/kakao" class="my-1"><img th:src="@{/icon/kakao.png}"></a>
    </div>
  </div>
  <div class="another_btns mb-2">
    <button type="button" class="btn btn-info mx-2" onClick="location.href='/members/new'">회원가입</button>
    <button type="button" class="btn btn-success mx-2" onClick="location.href='/members/findEmail'">아이디 찾기</button>
    <button type="button" class="btn btn-warning mx-2" onClick="location.href='/members/findPw'">비밀번호 찾기</button>
  </div>

  <script th:inline="javascript">
    $(document).ready(function(){
      var msg=[[${message}]];
      if(msg!==null){
        alert(msg);
      }
    })

  </script>

</div>

</html>