<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3">
        <div class="row">
            <div class="col-10">
                <div class="link">
                    <span>이용약관</span>
                    <span>|</span>
                    <span>개인정보처리방침</span>
                </div>
                <div class="info">
                    <p>
                        "고객지원 문의메일 : "
                        <span class="clack">(평일 오전 9시 30분 ~ 오후 5시 30분)</span><br>
                        <span class="day">※ 토/일/공휴일/회사 정기휴일 및 특별휴일 제외</span>
                    </p>
                    <p>ⓒ 2024 Playgound20 Co., Ltd. All Rights Reserved.</p>
                    <span>상호명 : 플레이그라운드</span>
                    <span>|</span>
                    <span>대표자명 : 조 민</span>
                    <span>|</span>
                    <span>주소 : 서울시 관악구 남부순환로 1820,에그옐로우14층</span>
                </div>
            </div>
            <div class="qr col-2">
                <img src="/img/qr_d.png" alt="qr" width="120px" height="auto"/>
            </div>
        </div>
    </footer>
</div>
</html>
