<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> </title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 20px;">
    <div style="background-color: white; border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); padding: 20px; text-align: center;">
        <img src="cid:logo-image" alt="로고" style="width: 100px; height: 100px;">
        <div style="font-size: 1.1em; margin: 20px 0;">
            <a th:href="@{'http://localhost:8887/members/resetPw?token='+${token}}">비밀번호 인증 페이지 이동</a>
            <br/>10분간 유효합니다.
        </div>
    </div>
</body>
</html>